* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color:#eaeef2;
    line-height: 1.6;
}

img {
    display: block;
}
.assembly {
    background: #eaeef2;
    padding: 20px;
    border: 2px black solid;
    border-radius: 5PX;
     border: #CCC 2PX;
     font-size: 10px;
}

.logo {
    color: #CCC;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    background-color: navy;
    border-radius: 5PX;
    border: #CCC 2PX;
    
    
}

.nav a {
    color: #CCC;
    text-decoration: none;
    margin-right: 20px;
    padding: 5px 10px;
    background-color: navy;
    border-radius: 5PX;
     border: #CCC 2PX;
     margin-top: 20px;
     display: flex;
     width: 200px;
}

.container2 {
    display: flex;
}

.container2 p{
    color:black;
    font-size: 20px;
}

.container3{
    border: 2px black solid;
    width: 800PX;
    height: 400PX;
    background-color: white;
}

.container3 .box1{
    height: 50px;
    border: solid black 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: white;
    text-align: center;
    color: #CCC;
    font-size: 20px;


}



.box1 img{

height: 330px;
padding: 10px;
margin: 20px;
display: flex;
margin-top: 30px;
justify-content: flex-end;  
align-items: flex-end;
}


 .main-menu {
            display: flex;
            list-style: none;
            gap: 40px;
            background-color: navy;
            border-radius: 30px;

        }

        .main-menu li a {
            text-decoration: none;
            color: white;
            font-weight: 600;
            font-size: 16px;
            padding: 20px 0;
            display: block;
            transition: color 0.3s;
            background-color: navy;
        }

        .main-menu li a:hover {
            color: #1e3a8a;
        }

        input[type="search"] {
            
            padding: 8px 12px;
            border: 2px solid #e5e7eb;
            border-radius: 20px;
            width: 200px;
            font-size: 14px;
    
        }
        .container2 img {
        width: 300px;        
         height: auto;
            
    }

      .container2 p {
        margin: 0;           
        font-size: 18px;
        line-height: 1.5;
        color: #333;
        flex: 1;

    }

    input[type="button"] {
    background-color: #666;
    color: white;
    padding: 10px 20px;
    border: none;
    margin-top: 50px;
}

   
input[type="button"]:hover {
    background-color: #333;   /* 더 어두운 색 */
    transform: scale(1.05);   /* 살짝 커지는 효과 */
}

input[type="search"]:focus {
    outline: none;                              /* 기본 테두리 제거 */
    border-color: #007bff;                      /* 테두리 색 변경 */
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5); /* 빛나는 효과 */
}